include LICENSE
include README.md
include CHANGELOG.md
exclude manage.py

recursive-include wagtail_trash/templates *
recursive-include wagtail_trash/migrations *
recursive-include wagtail_trash/locale *
